
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" type="text/css" href="~/CSS/HalvaDefaultStyle.css"/>
	@RenderSection("styles", false)
</head>
<body>
	<div> 
		<div id="uxBanner">
			<div id="uxLogo">
				<img src="~/Resources/WheatSheaf.svg" alt="Bundle of wheat"/>
			</div>
			<div id="uxBannerText">
				<div id="uxSiteName">Halva</div>
				<div id="uxSlogan">Be a gluten for punishment.</div>
				<div id="uxLogin">
					@if(User.Identity.IsAuthenticated)
                    {
                        <div>Welcome, @User.Identity.Name</div>
                        using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { @id = "logoutForm"}))
                        {
                            @Html.AntiForgeryToken()
                            <a href="Logout" onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Login", "Login", "Account");
                    }
				</div>
			</div>
			<div style="clear:both"></div>
		</div>
		<header>
            <div id="uxNavigation">
                @RenderSection("navigation", false)
            </div>
		</header>
        <div id="uxMainBody">
		    @RenderBody()
        </div>
		@RenderSection("footer", false)
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.js"></script>

</body>
</html>
